body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: White;
    color: Green;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Della Robbia BT', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav {
    background: #145c2f;
    padding: 10px;
    text-align: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.banner {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}

.content {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.post-box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-family: Arial, sans-serif;
}

.input-box textarea {
    border-radius: 10px;
    resize: vertical;
    min-height: 60px;
}

/* POST BUTTON DESIGN */
.input-box button {
    padding: 10px 25px;
    background: #0b6623;
    color: white;
    border: none;
    border-radius: 25px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.input-box button:hover {
    background: #0e7b2e;
    transform: scale(1.05);
}

.alumni-week {
    background: #0b6623;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
}

.alumni-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.alumni-card img {
    width: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.section-title {
    margin: 20px;
    font-size: 24px;
    color: #0b6623;
}

.opportunity-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.opportunity-card {
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

.opportunity-card h3 {
    margin-top: 0;
    color: #0b6623;
}

.select-btn {
    background-color: #0b6623;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.select-btn:hover {
    background-color: #09522a;
}

/* Reply styles */
.reply-box {
    margin-left: 30px;
    margin-top: 10px;
    padding: 10px;
    background: #f9f9f9;
    border-left: 3px solid #0b6623;
    border-radius: 5px;
}

.replies-container {
    margin-top: 10px;
}

.reply-box p {
    margin-top: 6px;
    margin-bottom: 4px;
}

.reply-box small {
    color: #666;
    font-size: 10px;
}



